// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------


.wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    margin-left: 0px;
    margin-right: 0;
    overflow: hidden;
    // classe junto com a row
    @media (max-width:767px) {
        .grid-reverse{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
            .grid-positionA{
                grid-column: 1;
                grid-row: 2;
            }
            .grid-positionB{
                grid-column: 1;
                grid-row: 1;
            }
        }
    }
    &__px-30{
        padding: 0 30px;
    }
}


.carousel{
    width:90%;
    margin:0px auto;
}
.slick-slide{
    margin:10px;
}
.slick-slide img{
    width:100%;
    border: 2px solid #fff;
}

.ambiental-yellow{
    color: $highlight-color;
}

.ambiental-white{
    color: #fff;
}
.text-bold{
    font-weight: bold;
}

.text-italic{
    font-style: italic;
}

.show-mobile{
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}