// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


// @font-face {
//     font-family: 'Averta';
    
//     src: url('./assets/fonts/averta/averta_italic/averta-regularitalic-webfont.woff2') format('woff2'),
//         url('./assets/fonts/averta/averta_italic/averta-regularitalic-webfont.woff ') format('woff');
//     font-weight: 500;
//     font-style: italic;
//     // italic
// }



// @font-face {
//     font-family: 'Averta';
//     src: url('./assets/fonts/averta/averta_light/averta-light-webfont.woff2') format('woff2'),
//         url('./assets/fonts/averta/averta_light/averta-light-webfont.woff') format('woff');
//         font-weight: 200;
//         font-style: normal;
// // light
// }
// @font-face {
//     font-family: 'Averta';
//     src: url('./assets/fonts/averta/averta_lightitalic/averta-lightitalic-webfont.woff2') format('woff2'),
//         url('./assets/fonts/averta/averta_lightitalic/averta-lightitalic-webfont.woff ') format('woff');
//     font-weight: 200;
//     font-style: italic;
//     // light italic
// }
// @font-face {
//     font-family: 'Averta';
//     src: url('./assets/fonts/averta/averta_regular/averta-regular-webfont.woff2') format('woff2'),
//             url('./assets/fonts/averta/averta_regular/averta-regular-webfont.woff ') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     // regular

// }


// @font-face {
//     font-family: 'Averta';
//     src: url('./assets/fonts/averta/averta_semibold/averta-semibold-webfont.woff2 ') format('woff2'),
//         url('./assets/fonts/averta/averta_semibold/averta-semibold-webfont.woff ') format('woff');
//     font-weight: 700;
//     // semi bold
// }

// @font-face {
//     font-family: 'Averta';
//     src: url('./assets/fonts/averta/averta_semibolditalic/averta-semibolditalic-webfont.woff2') format('woff2'),
//         url('./assets/fonts/averta/averta_semibolditalic/averta-semibolditalic-webfont.woff') format('woff');
//     font-weight: 600;
//     font-style: italic;
//     // semi bold italic
// }