// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------



// Linhas clamp 
@mixin lines-clamp($linhas){
    display: -webkit-box;
    display: box;                    
    -webkit-box-orient: vertical;  
    box-orient: vertical;                    
    -webkit-line-clamp: $linhas;
    line-clamp: $linhas;                      
    overflow: hidden;
    @content;  
}

