// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Averta', sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Averta', sans-serif;


$primary-color-outline:#DB6040;
$highlight-color:  #dd9933;
$gray-color: rgb(119, 119, 119);
$gray-color-2: #A2A2A2;
$gray-color-3:#E3E3E3;
$gray-color-sub: #C5C5C5;


$gray-background: #efefef;
$gray-darken-background: #39312f;
$primary-color: #003cd2;
$yellow-outline: #ffd102;
$brown-lightner: #904029;
$green-darken: #537237;
$orange-lightner: #ec8013;
$green-lightner: #8abf57;

$menu-background: #273B59;


$animate: all 0.2s ease-in-out;

