// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.iel-ambiental-header{
    position: relative;
    background-image: url(../../assets/imagem/banner/banner-home.png);
    background-size: cover;
    height: 85vh;
    z-index: 0;
    @media (max-width:992px) {
        object-fit: cover;
        height: 75vh;
        z-index: 9999;
    }
}
.menu-content{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    z-index: 1;
    @media (max-width: 640px) {
        flex-direction: column;
    }
    .logo-menu{
        @media (max-width: 640px) {
            img{
                max-width: 175px;
            }
        }
    }
    .list-menu{
        @media (max-width: 768px) {
            width: 100%;
            height: 50vh;
            background: $gray-darken-background;
            position: fixed;
            top: 20vh;
            z-index: 999999;
            display: none;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            @media (max-width: 768px) {
                flex-direction: column;
            }

            li{
                margin: 0 10px;
                cursor: pointer;
                a{
                    color: #fff;
                    text-decoration: none;
                }
                @media (max-width: 768px) {
                    margin: 10px;
                    cursor: pointer;
                    border-bottom: 2px solid;
                    width: 100%;
                    padding: 5px;
                }


            }
        }
    }
}
.banner-desc{
    margin: -50px 0 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
        max-width: 700px;
    }
    @media (max-width: 1024px) {
        
        img{
            width: 550px;
        }
    }
    @media (max-width: 768px) {

        img{
            width: 450px;
        }
    }
    @media (max-width: 640px) {
        
        img{
            width: 300px;
        }
    }

}
.banner-content{
    margin: -60px 0 0 0;
    display: flex;
    .event-data{
        text-align: center;
        font-size: 1.5rem;
        line-height: 1;
    }
    @media (max-width: 1024px) {
        .event-data{
            font-size: 1rem;
        }
    }
    @media (max-width: 640px) {
        margin: 0;
    }

}
.ctaBtn{
    background-color: $primary-color;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $primary-color;
    a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
    &:hover{
        background-color: transparent;
        border: 2px solid $primary-color;
        a{
            color: $highlight-color;
        }
    }
    &__ctaMenu{
        width: 185px;
        height: 40px;
        font-size: 0.8rem;
        margin: 10px auto;

        @media (max-width:1024px) and (min-width:768px) {
            width: 100px;
        }
    }
    &__ctaBanner{
        margin-bottom: 30px;
    }
}
.menu-icon{
    i{
        color: #fff;
    }
}
.lp-acao-ambiental{
    background-color: $gray-background;
}
.text-below-banner{
    padding: 60px 0;
    text-align: center;
    font-size: 1.2rem;
    width: 75%;
    margin: 0 auto;
    @media (max-width:767px) {
        width: 100%;
    }
    p{
        span{
            color: $primary-color;
        }
    }
}
.main-title{
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Averta';
}
.painel-default{
    font-size: 1rem;
    margin-bottom: 30px;
    .painel-desc{
        margin-top: 30px;
        margin-bottom: 30px;
        .painel-title{
            font-size: 3rem;
            font-weight: bold;
            span{
                font-size: 1rem;
                font-weight: normal;
                text-transform: uppercase;
            }
        }
    }
    .block-text{
        padding: 0 15px;
        color: #fff;
    }

    &--brown{
        .block-text{
            background-color: $brown-lightner;
        }
        .painel-desc{
            .painel-title{
                color: $brown-lightner;
                span{
                    color: #000;
                }
            }
        }
    }
    &--green{
        .block-text{
            background-color: $green-darken;
        }
        .painel-desc{
            .painel-title{
                color:$green-darken;
                span{
                    color: #000;
                }
            }
        }
    }
    &--orange{
        .block-text{
            background-color: $orange-lightner;
        }
        .painel-desc{
            .painel-title{
                color: $orange-lightner;
                span{
                    color: #000;
                }
            }
        }
    }
    &--lightGreen{
        .block-text{
            background-color: $green-lightner;
        }
        .painel-desc{
            .painel-title{
                color: $green-lightner;
                span{
                    color: #000;
                }
            }
        }
    }
    
}
.img-speaker{
    margin: 10px 0;
    .speaker-photo{
        width: 100%;
    }
}

.talk-data{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    line-height: 1;
    height: 100%;

    .talk-hour{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }
    .speaker-name{
        font-size: 1.5rem;
        margin: 5px 0;
        font-weight: 100;
    }
    .company-name{
        font-size: 0.8rem;
        font-style: italic;
    }
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.item-sponsors-carousel{
    img{
        display: block;
        width: 85%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        padding: 20px 0;
        border: none;
    } 
}
.slick-center{
    .item-sponsors-carousel{
        img{
        width: 100%;
        padding: 0;
        } 
    }
}
.wrapper-carousel{
    width:100%;
    padding-top: 20px;
    text-align:center;
}

.sponsors-area{
    background-color: $primary-color;
    padding: 60px 0;
    margin-top: 15vh;
    @media (max-width:1024px) {
        margin-top: 10vh;
    }
}
.secondary-title{
    color: #fff;
}

// footer

.contact-area{
    padding: 30px 0;
    background-color: $gray-darken-background;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
    a{
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    .contact-fone, .contact-email{
        padding: 15px 0 0;
    }
    .footer-logo{
        padding: 0;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        img{
            max-width: 150px;
        }
    }
}
.copyright-area{
    padding: 15px 0;
    span{
        font-size: 0.8rem;
    }
}