// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@media only screen and (max-width: 767px) {
	header{
		nav{
			.mobile{
				display: block;
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				padding: 0;
				z-index: 10;
			}
			ul{
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				padding-top: 80px;
				padding-left: 0;
				height:0;
				overflow: hidden;
				background: transparent;
				li{
					display: block;
					border-bottom: 2px solid transparent;
					width: 100%;
					&.active,
					&:hover{
						background: hsla(255, 255, 255, 0.1);
						color: $yellow-outline;
					}
					&:first-child{
						border-top: 2px solid transparent;
					}
					a{
						padding: 30px;
						display: block;
					}
					&.login{
						&.logaded{
							border:0;
							background: fade(black, 10%);
							&:hover{
								background: fade(black, 10%);
							}
							ul{
								background: fade(black, 10%)!important;
								opacity: 1; 
								height: auto;
								padding: 0;
								top: 81px;
								padding:0 0 15px 0!important;
								li{
									border:0;
									a{
										padding: 10px!important;
									}
								}
							}
							
						}
					}
				}
				
				&.active{
					height:100%;
					overflow: hidden;
					background: $primary-color;
					opacity: 0.95;
					li{
						border-bottom: 2px solid hsla(255, 255, 255, 0.1);
						&:first-child{
							border-top: 2px solid hsla(255, 255, 255, 0.1);
						}
					}
				}
					
				.logo{
					display: none;
				}
			}
		}
	}
}

nav{
	.mobile{
		display: none;
		// .transition();
		.logo{
			display: inline-block;
    		width: 100%;
    		height: 70px;
			background: url(../../assets/imagem/logo/logo-iel.png) no-repeat;
			text-indent: -99999px;
			padding: 0;
			margin: 0;
			background-color: $primary-color;
		}
		button{
			display:block;
			position:absolute;
			overflow:hidden;
			z-index:10;
			top:20px;
			right:20px;
			margin:0;
			padding:0;
			width:30px;
			height:30px;
			font-size:0;
			text-indent:-9999px;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
			box-shadow:none;
			border:none;
			cursor:pointer;
			// .transition(background);
			&:focus{
				outline:none;
			}
			span{
				display:block;
				position:absolute;
				width:30px;
				top:50%;
				left:50%;
				margin-left:-15px;
				margin-top:-3px;
				height:5px;
				background:white;
				&:before,
				&:after{
					position:absolute;
					display:block;
					left:0;
					width:100%;
					height:5px;
					background-color:white;
					content:"";
				}
				&:before{
					top:-10px;
				}
				&:after{
					bottom:-10px;
				}
			}
			&.hms{
				background:transparent;
				span {
					-webkit-transition: background 0s 0.3s;
					transition: background 0s 0.3s;
					&:before,
					&:after {
						-webkit-transition-duration: 0.3s, 0.3s;
						transition-duration: 0.3s, 0.3s;
						-webkit-transition-delay: 0.3s, 0s;
						transition-delay: 0.3s, 0s;
					}
					&:before {
						-webkit-transition-property: top, -webkit-transform;
						transition-property: top, transform;
					}
					&:after {
						-webkit-transition-property: bottom, -webkit-transform;
						transition-property: bottom, transform;
					}
				}
				&.active {
			// 		background:blue;
					span {
						background: none;
						&:before {
							top: 0;
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
						}
						&:after {
							bottom: 0;
							-webkit-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							transform: rotate(-45deg);
						}
						&:before,
						&:after{
							-webkit-transition-delay: 0s, 0.3s;
							transition-delay: 0s, 0.3s;
						}
					}
				}
			}
		}
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		// .transition();
		li{
			display: inline;
			text-align: center;
			margin: 0 10px;
			// width:200px;
			// border-radius: 5px 5px 0 0;
			a{
				display: block;
				width: 100%;
				padding: 10px 0 5px;
				color: white;
				text-transform: uppercase;
				font-size: 0.8rem;
				// .font-size(14);
				// .transition();
				text-decoration: none;
				&:hover{
					color: $yellow-outline;
					text-decoration: none;
				}
			}
			&.logo{
				width:226px;
				a{
					display:inline-block;
					width: 165px;
					height: 37px;
					// background: url(../img/logo-iel-white.png) no-repeat;
					text-indent: -99999px;
				}
			}
			&.login{
				position: relative;                         
				.tooltiptext {
					visibility: hidden;
					width: 260px;
					background-color: $yellow-outline;
					color: $gray-color;
					text-align: center;
					border-radius: 6px;
					padding: 5px;
					position: absolute;
					z-index: 1;
					bottom: -170%;
					left: 40px;
					margin-left: -60px;
					// .font-size(14);
					&:after{
						content: "";
						position: absolute;
						top: -10px;
						left: 50%;
						margin-left: -5px;
						border-width: 5px;
						border-style: solid;
						border-color: transparent transparent $yellow-outline transparent;
					  }
				}                          
				&:hover{
					.tooltiptext {
						visibility: visible;
					}
				}
				> a{
					&:before{
						content: "";
						background: url(../img/exit.png) no-repeat;
						width: 15px;
						height: 15px;
						display: inline-block;
						margin-bottom: -2px;
						margin-right: 7px;
					}    
				}
				&.logaded{
					// .transition();
					ul{
						opacity: 0;
						position: absolute;
						top: 35px;
						right: 0;
						width: 100%;
						// .transition();
					}
					&:hover{
						background: fade($gray-color, 70%);
						ul{
							opacity: 1;
							background: fade($gray-color, 70%);
							padding: 10px 0;
							border-radius: 0 0 5px 5px;
							li{
								width: 100%;
								display: block;
								padding:0;
								a{
									width: 100%;
									display: block;
									padding: 6px 12px;
								}
							}
						}
					}
				}

			}
		}
	}
}
